.loginPage {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  /* Білий фон */
  border: 1px solid #333333;
  /* Сірий бордюр */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Трохи сильніша тінь */
  font-family: 'Arial', sans-serif;
  /* Шрифт сан-серіф */
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  /* Чорний текст */
}